/* Reset básico */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Garante que o App ocupe toda a tela */
#root {
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  background: #f7f7f9;
}